@model Safety.Models.Ticket

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<div>
    <h4>Билет</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Speciality.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speciality.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nomber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nomber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
