@model Safety.Models.QuestAndAnsw

@{
    ViewBag.Title = "TestProcess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Билет №@ViewBag.ticketId</h2>
<h3>Вопрос №@ViewBag.numQuestion из @ViewBag.count</h3>
<hr />

@using (Html.BeginForm("Question", "Testing", FormMethod.Post))
{
    <div class="form-group">
        <h3>
            @Html.DisplayFor(modelItem => modelItem.Question)
        </h3>
    </div>
    <div class="form-group">
        @Html.RadioButton("id", 1, new { @checked = true })
        <label for="formGroupExampleInput">1) </label>
        @Html.DisplayFor(modelItem => modelItem.Answer1)
    </div>
    <div class="form-group">
        @Html.RadioButton("id", 2)
        <label for="formGroupExampleInput">2) </label>
        @Html.DisplayFor(modelItem => modelItem.Answer2)
    </div>
    <div class="form-group">
        @Html.RadioButton("id", 3)
        <label for="formGroupExampleInput">3) </label>
        @Html.DisplayFor(modelItem => modelItem.Answer3)
    </div>
    <div class="form-group">
        @Html.RadioButton("id", 4)
        <label for="formGroupExampleInput">4) </label>
        @Html.DisplayFor(modelItem => modelItem.Answer4)
    </div>
    //Delete(informattion part)
    <div class="form-group">
        <label for="formGroupExampleInput">Ответ: </label>
        @Html.DisplayFor(modelItem => modelItem.AnswerTrue)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Дальше" class="btn btn-default" />
        </div>
    </div>
}
<br />