@model IEnumerable<Safety.Models.Result>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Результаты тестов</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speciality.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speciality.Name)
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
